---
import Layout from '@/layouts/BlogPost.astro';
---

<Layout
  title="Siapa Kami"
  description="Lorem ipsum dolor sit amet"
  heroImage="/blog-placeholder-about.jpg"
>
  <p>
    Save the Children Indonesia adalah bagian dari gerakan global Save the Children yang memungkinkan kami bekerja sama
    di lebih dari 120 negara di seluruh dunia, mengembangkan kemitraan dengan organisasi lokal, serta menyediakan
    pelatihan dan sumber daya untuk membangun dan memberdayakan komunitas, di mana ada anak-anak yang membutuhkannya.
  </p>

  <p>
    Save the Children percaya setiap anak berhak mendapatkan masa depan. Di Indonesia dan di seluruh dunia, Save the
    Children melakukan apapun yang harus dilakukan — setiap hari dan saat krisis — agar anak-anak mendapatkan pemenuhan
    hak atas hidup yang sehat, kesempatan untuk belajar, dan perlindungan.
  </p>

  <p>
    Dengan pengalaman lebih dari 100 tahun, kami adalah yang pertama dan terkemuka di dunia organisasi independen untuk
    pemenuhan hak anak.
  </p>

  <p>
    Di Indonesia, Save the Children beroperasi pertama kali di Aceh pada tahun 1976. Hingga kini, kami masih terus hadir
    dan bekerja dengan berbagai mitra untuk selalu memastikan kebermanfaatan yang lebih luas dan berkesinambungan bagi
    anak-anak Indonesia.
  </p>
</Layout>

<style>
    p {
        text-align: justify;
    }
</style>
